
<ul>
    <li>
        <image src="{{flag}}" alt="flag of {{name}}" width=80></image>
    </li>
    <li>{{name}}</li>
    <li>Capital : {{capital}} </li>
    <li>Population: {{population}}</li>
    <li>Languages: {{languages}}</li>

</ul>