<ul>
    <li>
        <image src='{{flag}}' alt='flag of {{name}}' width='80' />
    </li>
    <li>{{name}}</li>
    <li>Capital : {{capital}} </li>
    <li>Population: {{population}}</li>
    <li>Languages: {{#each languages}}<p>{{this.name}}</p>{{/each}}</li>
</ul>